// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.yodemos {
    margin: 50px auto 0 auto;
    width: 100%;
    height: 100%;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 60px;
    }    
    h4 {
        font-size: 60px;
    }    
    h5 {
        font-size: 60px;
    }
}

.tres {
    margin-right: 22px;
    margin-left: 22px;
    margin-top: 10px;
    width: 1280px;
    height: 1920px;
    font-size: 12px;
    background-color: blue;
}

.demos {
    float: center;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    height: 630px;
    width: 1180px;
    background-color: red;
}

.click-one {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-one {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}

.click-two {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-two {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-three {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-three {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-four {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-four {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-five {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-five {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-six {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-six {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-seven {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-seven {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-eight {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-eight {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-nine {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-nine {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-ten {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-ten {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-eleven {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-eleven {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-twelve {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-twelve {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-thirteen {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-thirteen {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-fourteen {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-fourteen {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}
.click-fifteen {
    margin-top: 25px;
    margin-left: 45%;
    height: 150px;
    width: 150px;
    background-color: green;
}

.button-fifteen {
    margin-top: 10px;
    margin-left: 47.2%;
    height: 45px;
    width: 100px;
    background-color: gray;
}

